# Runtime output from applications, including snapshots and
# recorder output and intermediary files.
data/**
# !data/persist.?.yaml

# Local config file.
loopin.local.yaml

#
# Node Stuff
#
node_modules/
npm-debug.log
yarn.lock
yarn-error.log
package-lock.json

#
# OS and other
#
.DS_Store
.vscode
.AppleDouble
tmp/
blather.txt